.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 35px
  }
  
  .flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    background-size: cover;
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  .flip-card-back {
    background: #f1c40f;
    color: black;
    transform: rotateY(180deg);
    height: 400px;
    width: 300px;
    
  }